@charset "utf-8";
.arm_email_pdf_content_area_left{
    display: inline-block;
    float: left;
    width: 100%;
    margin-right: 15px;
}
.arm_email_pdf_attachment_lbl{
    float: left;
    width: 258px;
    margin-right: 25px;
}
.arm_email_pdf_attachment_section{
    float: left;
    margin-top: 3px;
    margin-right: 25px;
}
.arm_email_pdf_card_dropdown{
    float: left;
    display: none;
}
.arm_automated_email_pdf_card_dropdown{
    float: left;
    display: none;
}
.arm_card_pdf_btn{
    position: absolute;
    top: 8px;
    right: 70px;
    cursor: pointer;
    display: none;
    line-height: normal;
}
.arm_invoice_pdf_btn{
    line-height: normal;
    display: inline-block;
    min-height: 30px;
    vertical-align: middle;
}
.membershipcard1:hover .arm_card_pdf_btn, .membershipcard2:hover .arm_card_pdf_btn, .membershipcard3:hover .arm_card_pdf_btn{
    display: inline-block;
}
.arm_pdfcreator_font_list_container{
    width: 100%;
    position: relative;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    display: inline-block;
}
.arm_pdfcreator_custom_checkbox_div {
    float: left;
    margin-top: 3px;
    margin-right: 10px;
    height: 18px;
    position: relative;
    text-align: left;
    
}
.arm_pdfcreator_font_family_label{
    font-size: 13px;
}
.arm_pdfcreator_font_checkbox_wrapper {
    width: 48.8%;
    margin-top: 10px;
}
.arm_pdfcreator_custom_checkbox_wrapper{
    float: left;
    display: block;
    position: relative;
    margin-right: 5px;
}
.arm_pdf_creator_font_import_updated_msg {
    width: 70%;
    float: left;
    margin: 20px 0;
}
.arm_pdfcreator_custom_checkbox_wrapper input[type=checkbox]:checked:before{
    margin-left:-3px;
}
.armpdfcreator_remove_license_form_message .popup_footer{
    text-align: right;
    border-top: 1px solid var(--arm-gt-gray-50);
}