@charset "utf-8";
.arm_card_pdf_btn{
    position: absolute;
    top: 18px;
    right: 70px;
    cursor: pointer;
    display: none;
    line-height: normal;
}
.arm_invoice_pdf_btn{
    line-height: normal;
    display: inline-block;
    min-height: 30px;
    vertical-align: middle;
}
.membershipcard1:hover .arm_card_pdf_btn, .membershipcard2:hover .arm_card_pdf_btn, .membershipcard3:hover .arm_card_pdf_btn{
    display: inline-block;
}